html {
    box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

/* body reset */
body{
	padding: 0;
	margin: 0;
	background-image: url(../images/background.jpg);
	background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;   
	background-position: center;
	

}
nav{
	background-color:rgba(14, 59, 104, 0.932);
	width: 100%;
	
	
	}
	
	nav ul{
		margin:0px 0;
		list-style: none;
		display:flex;
		padding:0;
		
		
	}
	nav li{
		flex:1;
		
	}
	
	.top-menu nav a:hover,
	.top-menu nav a:focus,
	.top-menu nav a:active{
	
		background-color:  rgba(14, 46, 68, 0.829);
		
	}
	
	nav a{
		color:white;
		display: block;
		text-align: center;
		text-decoration: none;
		line-height:1.2em;
		font-size: 1.5em;
		font-weight: bold;
		font-family: sans-serif;
		font-style: oblique;
		border-right: 8px solid rgba(240, 241, 243, 0.952);
		
	
	
	}
	
	.top-menu{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 8px;
		
	}
	
	
	
	.top-menu nav{
		display: block;
	}
	
	.top-menu ul{
		margin: 0;
		padding: 0;
		list-style: none;
		
	}
.wrapper{
	background-color:rgba(255, 255, 255, 0.781);
	border-radius:50px;
	width: 1400px;
	height: auto;
	padding: 30px;
	margin: 0 auto 30px;
	border: 1px outset;
   }
   table, th, td { 
    border: 2px solid rgba(0, 0, 0, 0.486);
    font-size: 1.2em;
    border-collapse: collapse;

}
table{
    margin: auto 250px;
}
th{
    font-size: 1.2em
}
.img{
    width:500px;
}
.img1{
    width: 500px;
}
.img2{
    width: 500px;
}
.img3{
    width: 500px;
}
.img4{
    width: 500px;
}
.img5{
    width: 500px;
}
.img6{
    width: 500px;
}
.img7{
    width: 500px;
}
.img8{
    width: 500px;
}
.img9{
    width: 500px;
}
.img10{
    width: 500px;
}
.img11{
    width: 500px;
}
   footer{
	background-color: rgba(14, 59, 104, 0.918);
	padding: 30px;
	padding-bottom: 0;
	margin:0;
	margin-bottom: 0;
	font-size:1.4em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: bolder;
	text-align: center;
	color: white;
}



@media (min-width:320px){
    .top-menu nav{
        display: block;
    }	
    nav a{
        font-size: 1em;
        padding: 5px;
    }
    nav li{
        flex: 1;
    }
    nav li:last-child{
        border: none;
    }
    .logo{
     margin-left:75px ;
    }
    .wrapper{
            width: 500px;
            margin: 20px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        table{
            margin: 0 40px;
        }
        .img{
            width:200px;
        }
        .img1{
            width: 200px;
        }
        .img2{
            width: 200px;
        }
        .img3{
            width: 200px;
        }
        .img4{
            width: 200px;
        }
        .img5{
            width: 200px;
        }
        .img6{
            width: 200px;
        }
        .img7{
            width: 200px;
        }
        .img8{
            width: 200px;
        }
        .img9{
            width: 200px;
        }
        .img10{
            width: 200px;
        }
        .img11{
            width: 200px;
        }
    }

@media(min-width:768px){

        .top-menu nav{
            display: block;
        }
    
        nav li{
            flex:1;
            
        }
        nav li:last-child{
            border: none;
        }
        .logo{
            margin-left:150px ;
        }
        .wrapper{
            width: 800px;
            margin: 40px ;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 30px;
        }
        table{
            margin-right: 10px;
        }
        .img{
            width:400px;
        }
        .img1{
            width: 400px;
        }
        .img2{
            width: 400px;
        }
        .img3{
            width: 400px;
        }
        .img4{
            width: 400px;
        }
        .img5{
            width: 400px;
        }
        .img6{
            width: 400px;
        }
        .img7{
            width: 400px;
        }
        .img8{
            width: 400px;
        }
        .img9{
            width: 400px;
        }
        .img10{
            width: 400px;
        }
        .img11{
            width: 400px;
        }
    }

    @media(min-width:1080px){
	
        .top-menu nav{
            display: block;
            margin: 0;
        }
        
        nav li{
            flex:1;
            
        }
       nav li:last-child{
           border-right: none;
       }

        .nav{
           margin-bottom: 0;
        }
        nav a{
            font-size: 1.5em;
        }
        
        .logo{
            margin-left: 275px;
        }
        .wrapper{
         background-color:rgba(255, 255, 255, 0.781);
         width: 1300px;
         height: auto;
         padding: 30px;
         margin: 30px auto 20px;
         border: 1px outset;
         border-radius: 50px;	
        }
        table{
            margin: 0 200px;
        }
        .img{
            width:500px;
        }
        .img1{
            width: 500px;
        }
        .img2{
            width: 500px;
        }
        .img3{
            width: 500px;
        }
        .img4{
            width: 500px;
        }
        .img5{
            width: 500px;
        }
        .img6{
            width: 500px;
        }
        .img7{
            width: 500px;
        }
        .img8{
            width: 500px;
        }
        .img9{
            width: 500px;
        }
        .img10{
            width: 500px;
        }
        .img11{
            width: 500px;
        }
    }